/* geral */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #555555;
}

a {
    color: #7cc576;
}

a:hover {
    color: #9ed49a;
    text-decoration: none;
}

.btn {
    border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width:767px) {
    #cara {
        display: none;
    }
    .card {
        margin: auto;
        margin-top: 12vh;
    }
}

.sombra {
    box-shadow: 0 8px 6px -6px black;
}


/*          */

#logo {
    transition: 0.5s;
}

#navbar {
    transition: all 0.5s;
    z-index: 999;
    transition: all 0.5s;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.5);
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.png");
    position: relative;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#hero .hero-logo {
    margin-bottom: 30px;
}

#hero h1 {
    margin: 0 0 30px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: #aeaeae;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #2d5487;
}

.li {
    float: none;
    display: inline-block;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(+30%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.caraMove {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
}

#hero .btn-get-started:hover {
    background: #fff;
    color: #2d5487;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        line-height: 22px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: whitesmoke;
}

.section-title {
    text-align: center;
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #151515;
}

.section-title p {
    margin-bottom: 0;
    color: #aeaeae;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 990;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

.apr {
    height: 34rem;
    z-index: 996;
    padding-bottom: 0;
}